@font-face {
  font-family: RobotoRegular;
  src: url("../src/assets/fonts/static/RobotoRegular.ttf"), format("ttf");
  font-weight: 400,
}

@font-face {
  font-family: RobotoBold;
  src: url("../src/assets/fonts/static/RobotoBold.ttf"), format("ttf");
  font-weight: 700,
}

@import "tailwindcss";

@theme {
  --font-roboto: RobotoRegular, "sans-serif",
}

@theme {
  --font-roboto-bold: RobotoBold, "sans-serif",
}

@theme {
  --color-custom-red: hsl(4, 100%, 67%);
  --color-custom-blue-800: hsl(234, 29%, 20%);
  --color-custom-blue-700: hsl(235, 18%, 26%);
  --color-custom-grey: hsl(0, 0%,58%);
  --color-custom-white: hsl(0, 0%, 100%),
}